/* FONTS */

@import url(http://fonts.googleapis.com/css?family=Ultra|Coustard);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



body {
  background: #444;
  margin: 0;
  padding: 0;
  font-family: "Coustard", "Lucida Grande", "Verdana", sans-serif;
}

h1 {
  color: #AAA;
  text-shadow: 0px 1px 15px rgba(0, 0, 0, 0.5);
  padding: 110px 0 0 680px;
  margin: 30px auto 0;
  width: 0;
  height: 0;
  display: block;
  overflow: hidden;
  font-family: "Ultra", "Impact", sans-serif;
  background: url("/static/logo.png") top center no-repeat;
}

h2 {
  text-align: center;
  color: #FFF;
  font-size: 24px;
  line-height: 36px;
  margin: 0 auto 20px;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.8);
}

ul#tweets {
  list-style: none;
  width: 680px;
  margin: 0 auto 40px;
}

  ul#tweets li {
    border-radius: 10px;
    padding: 15px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);

    /* CSS gradient */
    background: #e2e2e2; /* Old browsers */
    background: -moz-linear-gradient(top, #e2e2e2 0%, #bfbfbf 100%); /*FF3.6+*/
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(100%,#bfbfbf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e2e2e2 0%,#bfbfbf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e2e2e2 0%,#bfbfbf 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #e2e2e2 0%,#bfbfbf 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#bfbfbf',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #e2e2e2 0%,#bfbfbf 100%); /* W3C */
  }

  ul#tweets li img.avatar {
    display: block;
    border: 1px solid #000;
    padding: 1px;
    background: #FFF;
    width: 50px;
    margin: 0;
    height: 50px;
  }

  ul#tweets li p.text {
    margin-left: 70px;
    font-size: 22px;
    text-shadow: 0 1px 0 #FFF;
    line-height: 34px;
  }

  ul#tweets li p.user {
    margin-top: -60px;
    text-shadow: 0 1px 0 #FFF;
    font-size: 18px;
    line-height: 36px;
    margin-left: 70px;
    color: #444;
  }

  ul#tweets li p.user span.username {
    color: #777;
    display: inline-block;
    margin-left: 10px;
  }

